@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap');

body {
    font-family: 'Inconsolata', monospace;
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    min-height: 100vh;
  }

.welcome_text{
    color: white;
    text-decoration: none;
}

.welcome_layout{
    font-size: large;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    max-width: 50%;
    max-height: 50%;
}

/* FOOTER */



